.main{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}
.divC{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.containerHow{
    
position: absolute;
padding: 5px;
width: 272.53px;
height: 132.9px;
left: 10%;
top:30%;
background: rgba(0, 0, 0, 0.3);
border: 1px solid #444444;
backdrop-filter: blur(2px);

border-radius: 8px;
margin: 20px;
}
.containerHow img{
    position: absolute;
    top: -60px;
    left: -80px;
}
.main h1{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
}
.main p{
    margin-top: 10px;
    font-family: 'Inter';
font-style: italic;
font-weight: 400;
font-size: 10.4247px;
line-height: 13px;

}

.containerHow2{
    position: absolute;
    padding: 5px;
width: 272.53px;
height: 132.9px;
left: 30%;
top: 70%;
background: rgba(0, 0, 0, 0.3);
border: 1px solid #444444;
backdrop-filter: blur(2px);
border-radius: 8px;
}
.containerHow2 img{
    position: absolute;
    top: -60px;
    left: -80px;
}

.containerHow3{
    position: absolute;
    padding: 5px;
width: 272.53px;
height: 132.9px;
left: 70%;
top: 40%;
background: rgba(0, 0, 0, 0.3);
border: 1px solid #444444;
backdrop-filter: blur(2px);
border-radius: 8px;
}
.containerHow3 img{
    position: absolute;
    top: -60px;
    left: -80px;
}


@media screen and (max-width: 900px) {

    .main{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100vw;
        height: 100vh;
    }
    .divC{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .divC img{
        width: 40%;
    }
    .containerHow{
        
    position: relative;
    padding: 4px;
 
    height: 100.9px;
    left: 0%;
    
    background: rgba(0, 0, 0, 0.3);
    border: 1px solid #444444;
    backdrop-filter: blur(2px);
    
    border-radius: 8px;
    margin: 20px;
    }
    .containerHow img{
        position: absolute;
        top: -50px;
        left: -20px;
        width: 20%;
        
    }
    .main h1{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 10px;
        line-height: 15px;
    }
    .main p{
        margin-top: 10px;
        font-family: 'Inter';
    font-style: italic;
    font-weight: 400;
    font-size: 9px;
    line-height: 13px;
    
    }
    
    .containerHow2{
        position: relative;
        padding: 4px;
      
        height: 100.9px;
        left: 0%;
        
        background: rgba(0, 0, 0, 0.3);
        border: 1px solid #444444;
        backdrop-filter: blur(2px);
        
        border-radius: 8px;
        margin: 20px;
    }
    .containerHow2 img{
        position: absolute;
        top: -50px;
        left: -20px;
        width: 20%;
    }
    
    .containerHow3{
        position: relative;
        padding: 4px;
     
        height: 100.9px;
        left: 0%;
        
        background: rgba(0, 0, 0, 0.3);
        border: 1px solid #444444;
        backdrop-filter: blur(2px);
        
        border-radius: 8px;
        margin: 20px;
    }
    .containerHow3 img{
        position: absolute;
        top: -50px;
        left: -20px;
        width: 20%;
    }
  }
