.container{
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    background-color: rgba(2, 2, 2, 0.516);
    width: 100svw;
    height: 100svh;
    background: none;
}
.form{
display: flex;
flex-direction: column;
align-items: center;


width: 800px;
}

.form input{
background: rgba(239, 239, 255, 0.15);
border: 1px solid #353535;
backdrop-filter: blur(5px);
width: 300px;
height: 40px;
color: whitesmoke;

border-radius: 8px;



}

.form button {
    font-size:13px;
    font-family:Arial;
    width:100px;
    border-width:1px;
    color:#14396a;
    border-color:#333333;
    font-weight:bold;
    border-top-left-radius:6px;
    border-top-right-radius:6px;
    border-bottom-left-radius:6px;
    border-bottom-right-radius:6px;
    box-shadow:inset 0px 1px 0px 0px #fff6af;
    text-shadow:inset 0px 1px 0px #ffee66;
    background:linear-gradient(#ffec64, #ffab23);
}
.form button:hover {
    background: linear-gradient(#ffab23, #ffec64);
  }

.inputDescription{
background: rgba(239, 239, 255, 0.15);
border: 1px solid #353535;
backdrop-filter: blur(5px);
width: 300px;
color: whitesmoke;
border-radius: 8px;
height: 150px !important; 
}