@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

html,
body {

  overflow-x: hidden;
  overflow-y: hidden;
  overscroll-behavior: none;
  background-color: rgb(3, 3, 3);
  background-image: url('/background.svg');
  background-size: cover;
  color: whitesmoke;
}

@media screen and (max-width: 568px) {
  html,
  body {
    background-image: url('/background-mobile.svg');
    font-size: 14px;
  }
}

