@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
}

html,
body {
  max-width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
  overscroll-behavior: none;
  background-color: black;
  background-image: url('/background.svg');
  background-size: cover;
  color: whitesmoke;
}

@media screen and (max-width: 768px) {
  html,
  body {
    background-image: url('/background-mobile.svg');
    background-size: cover;
    background-repeat: no-repeat;

  }
}

