@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  /* -webkit-touch-callout: none;  
  -webkit-user-select: none;    
  -khtml-user-select: none;     
  -moz-user-select: none;      
  -ms-user-select: none;       
  user-select: none;  */

}

html,
body {

  overflow-x: hidden;
  overflow-y: hidden;
  overscroll-behavior: none;
  background-color: rgb(3, 3, 3);
  background-image: url('/background.svg');
  background-size: cover;
  color: whitesmoke;
}

@media screen and (max-width: 668px) {
  html,
  body {
    background-image: url('/background-mobile.svg');
    background-size: cover;
    background-repeat: no-repeat;

  }
}

