@import url('https://fonts.googleapis.com/css2?family=Slackey&display=swap');


.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  background-image: '/logoBlack.png';
}

.logoimg {
  width: 500px;
  height: auto;
}

.textSoon{
  font-family: 'Slackey', cursive;
}