.modalOverlayHidden{
    display: none;
}
.modalOverlay{
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(15, 15, 15, 0.763);
    width: 100vw;
    height: 100vh;
    z-index: 1000;
}

.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 95vw;
    height: 80vh;
    background-color: rgb(7, 7, 7);
    border-radius: 20px;
    border: 1px solid #353535;
    border-radius: 20.6864px;
    

}

.modal h1{
    text-transform: uppercase;
    height: 25px;
    margin-top: 10px;
}

.modal h2{
    font-size: 2rem;
    text-transform: uppercase;
    margin: 1rem 0px;
}

.textContainer {
    display: flex;
    flex-direction: column;
    width: 25%;
    margin: 1rem 0;
    text-align: justify;
    overflow-y: auto;
}

.textContainer p{
    font-size: 1rem;
    font-style: italic;
    text-align: end;
}

.textContainer h3 {
    text-align: start;
    margin-bottom: 0.3rem;
}

.textContainer h4 {
    margin-top: 1rem;
}

.modal button{
    margin-top: 3.5px;
  align-items: center;
  padding: 8px 16px;
  border: 1px solid #353535;

  width: 90px;
  height: 46px;

  background: #9E9E9E;
  border-radius: 60px;

   background: #9E9E9E;
   color: whitesmoke;
   margin-top: 10px;
       
}
.modal button:hover{
    background: linear-gradient(to right, #D4942B 0%, #CC392C 100%);
  }

  @media screen and (max-width: 700px) {

    .modal h1{
        font-size: 16px; 
    
    }
    .modal h2{
        font-size: 13px;
    }
    
    .modal p{
      
        font-size: 10px;   
    }

  }