.container{
    width: 100vw;
    height: 100vh;
    height: 100svh;
    display: flex;
    flex-direction: column;
   align-items:flex-start;
   font-family: 'futur', sans-serif;
   text-shadow: 1px -1px 0px #F39200;
}
.sideMenu{
    width: 15%;
    height: 80vh;
    height: 80svh;
    display: flex;
    margin-left: 2%;
    margin-top:8%;
    background: rgba(0, 0, 0, 0.5);
    border: 1px solid #353535;
    border-radius: 16px;
    display: flex;
    align-items: center;
    position: absolute;
    flex-wrap: wrap;
    /* overflow-wrap: break-word; */
  }
.topMenu{
    width: 78%;
    height: 15svh;
    display: flex;
    margin-left: 20%;
    margin-top: 2%;
    background: rgba(0, 0, 0, 0.5);
    border: 1px solid #353535;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.textLeft{
   padding: 10px ;
   line-height: 2rem; 
   font-size: 16px;
   position: relative;  
   font-family: 'futur', sans-serif;
   text-shadow: 1px -1px 0px #F39200;
}
.leftButton{
  
   top: 80%; 
    position: absolute;
    font-size:15px;
    font-family:Arial;
    width:120px;
    height:50px;
    border-width:1px;
    color:whitesmoke;
    border-color:#c77801;
    font-weight:bold;
    border-top-right-radius:18px;
    border-bottom-right-radius:18px;
    box-shadow: 3px 4px 0px 0px #8a2a21;
    text-shadow: 0px 1px 0px #810e05;
    background:linear-gradient(#cc7b00, #F39200);
    z-index: 100;

    
}
.containerM{
    display: flex;
    position: absolute;
    height: 100vh;
    height: 100svh; 
    justify-content:center ;
    flex-direction: column;
    margin-left: 20%;

}

.containerDash{
 
    display: flex;
}

.h1{
    padding-bottom: 30px;
    font-size: 23px;
}

.buttonAdd{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
width: 200px;
height: 36px;
background: #9E9E9E;
border-radius: 90px;
}


.canvas{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 10%;
  }
  
  
.containerInput{
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerWallet{
  width: 85vw;
  height: 70vh;
  margin-left: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  }

 

  .walletC{
    display: flex;
    width: 80vw;
    height: 70vh;
    justify-content: space-evenly;
    flex-wrap: wrap;

  }
 




.input  {
    padding: 8px 8px 8px 24px;
    gap: 8px;
    width: 480px;
    height: 52px;
     background: rgba(239, 239, 255, 0.07);
     border: 1px solid #353535;
     border-radius: 90px;
     color: whitesmoke;
  }
  
  .button{
    margin-top: 3.5px;
    align-items: center;
    padding: 8px 16px;
    border: 1px solid #353535;
  
    width: 90px;
    height: 46px;
  
    background: #9E9E9E;
    border-radius: 60px;
  
     background: #9E9E9E;
     color: whitesmoke;
     
  
  }
  
  .form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .label {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
  }

  
  .button:hover{
    background: linear-gradient(to right, #D4942B 0%, #CC392C 100%);
  }
  .jumpMan{
    margin-right: 5%;
  }

.span:hover {
  color: orange;
  cursor: pointer;
}

.sketchfabembedwrapper{
  border: 1.14649px solid #353535;
border-radius: 6.11463px;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
width: 250px;
height: 320px;
padding: 20px;
margin-top: 20px;
}

.formAddMedal{
  position:absolute;
  top: 15%;
  left: 50%;
 
}
.formAddMedal input{
  padding: 8px 8px 8px 24px;
  gap: 8px;
  width: 150px;
  height: 42px;
   background: rgba(239, 239, 255, 0.07);
   border: 1px solid #353535;
   border-radius: 90px;
   color: whitesmoke;
}
 .formAddMedal button{

  /* margin-top: 3.5px; */
  align-items: center;
  /* padding: 8px 16px; */
  border: 1px solid #353535;

  width: 90px;
  height: 36px;

  background: #9E9E9E;
  border-radius: 60px;

   background: #9E9E9E;
   color: whitesmoke;

 }
 .formAddMedal button:hover{
  background: linear-gradient(to right, #D4942B 0%, #CC392C 100%);
}
.nameMobile{
  display: none;
}


  @media screen and (max-width: 930px) {
    .nameMobile{
      display: flex;
      margin-top: 75px;
      margin-bottom: -10px;
      margin-left: 10px;
    }
.topMenu{
  display: none;
}
.sideMenu{
  display: flex;
  width: 95vw;
  height: 100px;
  margin-left: 2%;
  margin-top: 2%;
  background: rgba(0, 0, 0, 0.5);
  border: 1px solid #353535;
  border-radius: 16px;
  align-items: flex-start;
  position: absolute;
  flex-wrap: wrap;
  overflow-wrap: break-word;
  display: none;
}

.containerWallet{
 
  margin-left: 0;

  }

  .leftButton{
     position: absolute;
     margin-left: 60%;
     top: 0;
     z-index: 100;
     border-top-left-radius:0px;
     border-top-right-radius:0px;
     border-bottom-left-radius:18px;
 
     
 }

 .jumpMan{
  display: none;
}

.imgWallet{
  width: 50%;
  height: 50%;
  
  
}
.input{
  width: 280px;
}


.formAddMedal{
 
  top: 92%;
  left: 20%;
 
}

  }


